[[lang = "cstc_constraint"]]
pub enum Constraint {
    Valid,
    Invalid,
}

[[lang = "cstc_std_print"]]
pub runtime extern "lang" fn print(value: &str);
[[lang = "cstc_std_println"]]
pub runtime extern "lang" fn println(value: &str);
[[lang = "cstc_std_read_file"]]
pub runtime extern "lang" fn read_file(path: &str) -> str;
[[lang = "cstc_std_read_line"]]
pub runtime extern "lang" fn read_line() -> str;
[[lang = "cstc_std_rand"]]
pub runtime extern "lang" fn rand() -> num;
[[lang = "cstc_std_time"]]
pub runtime extern "lang" fn time() -> num;
[[lang = "cstc_std_env"]]
pub runtime extern "lang" fn env(name: &str) -> str;
[[lang = "cstc_std_to_str"]]
pub extern "lang" fn to_str(value: num) -> str;
[[lang = "cstc_std_str_concat"]]
pub extern "lang" fn str_concat(a: &str, b: &str) -> str;
[[lang = "cstc_std_str_len"]]
pub extern "lang" fn str_len(value: &str) -> num;
[[lang = "cstc_std_str_free"]]
pub extern "lang" fn str_free(value: str);
[[lang = "cstc_std_assert"]]
pub extern "lang" fn assert(condition: bool);
[[lang = "cstc_std_assert_eq"]]
pub extern "lang" fn assert_eq(a: num, b: num);
[[lang = "cstc_std_constraint"]]
pub extern "lang" fn constraint(value: bool) -> Constraint;
